<h1>Recorded Videos</h1>
<!--
<% @videos.each do |vid| %>
  <h2>Video #<%= vid.id %></h2>
  <video controls>
    <source src="<%= vid.vid.url %>" type="video/mp4"/>
  </video>
<% end %> -->

<%= react_component("IndexPage", prerender: false) %>
