// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

body {
  background-color: #4c4c4c;
}

h1 {
  color: white;
}

.index-card {
  padding-bottom: 10px;
}

.modal-dialog {
  margin: 80px auto;
}
